.hero-site{
    position: relative;
}
/* {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */
.hero-site-heading{
    color: #FFF;
}
.hero-site-star{
    color: #003886;
}
.hero-site-star-desabled{
    color: #2b2f33; 
}
.btn-site-hero{
    background-color: #01357e;
}
.btn-site-hero:hover, .btn-outline-site-hero:hover{
    background-color: #002a64;
    border: 1px solid #01357e;
}
.btn-outline-site-hero{
    border: 1px solid #01357e;
}

@media screen and (max-width: 541px){
    .btns-hero{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: -4em;
    }

}
@media screen and (max-width: 380px){
    .btns-hero{
        top: -2em; 
    }

}
@media screen and (max-width: 287px){
    .btn-site-hero, .btn-outline-site-hero{
        font-size: 0.8em;
    }
    .btns-hero{
        top: -1.5em; 
    }

}
